[Desktop Entry]
Type=Application
Name=QQ（屏幕共享修复）
Name[en]=QQ (Screenshare Fix)
Comment=可在 Wayland 下共享屏幕和电脑声音的 QQ
Comment[en]=Linux QQ with working screen sharing on Wayland
Exec=linuxqq-wayland-native-screenshare-fix %U
Icon=qq
Terminal=false
Categories=Network;InstantMessaging;
StartupWMClass=QQ
