[Desktop Entry]
Type=Application
Name=QQ (Wayland Screenshare)
Name[zh_CN]=QQ（Wayland 屏幕共享）
Comment=Linux QQ with working screen sharing on Wayland
Comment[zh_CN]=可在 Wayland 下共享屏幕的 QQ
Exec=qq-wl-native %U
Icon=qq
Terminal=false
Categories=Network;InstantMessaging;
StartupWMClass=QQ
